<div class="container mt-100">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="card mb-30"><a class="card-img-tiles" routerLink="product" data-abc="true">
                    <div class="inner">
                        <div class="main-img"><img src="assets/image/bangladeshiFood/catbang.jpg" alt="Category">
                        
                        </div>

                        <div class="thumblist"><img src="assets/image/bangladeshiFood/categoryBangladesh.jpg"
                                alt="Category">
                            <img src="assets/image/bangladeshiFood/cbang.png"></div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h4 class="card-title">Bangladeshi Food</h4>
                    <p class="text-muted">Starting from $30</p>
                     <button type="button" [routerLink]="['/cart/product']" (click)="cartNavigate()" class="button cart_button_checkout"> View Products</button>
                  
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card mb-30"><a class="card-img-tiles" routerLink="product" data-abc="true">
                    <div class="inner">
                        <div class="main-img"><img src="assets/image/chineseFood/categoryChinese.jpeg" alt="Category">
                        </div>
                        <div class="thumblist"><img src="assets/image/chineseFood/catChinese.jpg" alt="Category">
                            <img src="assets/image/chineseFood/cChinese.jpeg" alt="Category"></div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h4 class="card-title">Chinese Food</h4>
                    <p class="text-muted">Starting from $50</p>
                    <button type="button" [routerLink]="['/cart/product']" (click)="cartNavigate()" class="button cart_button_checkout"> View Products</button>
                  
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card mb-30"><a class="card-img-tiles" routerLink="product" data-abc="true">
                    <div class="inner">
                        <div class="main-img"><img src="assets/image/italianFood_files/categoryItalian.jpg"
                                alt="Category"></div>
                        <div class="thumblist"><img src="assets/image/italianFood_files/cateItalian.jpeg"
                                alt="Category">
                            <img src="assets/image/italianFood_files/catItalian.jpg" alt="Category"></div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h4 class="card-title">Italian Food</h4>
                    <p class="text-muted">Starting from $50</p>
                    <button type="button" [routerLink]="['/cart/product']" (click)="cartNavigate()" class="button cart_button_checkout"> View Products</button>
                  
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-100">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="card mb-30"><a class="card-img-tiles" routerLink="product" data-abc="true">
                    <div class="inner">
                        <div class="main-img"><img src="assets/image/russianFood/dumplings.webp" alt="Category"></div>
                        <div class="thumblist"><img src="assets/image/russianFood/chow_mein.webp"
                                alt="Category">
                            <img src="assets/image/russianFood/russianFood.webp"></div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h4 class="card-title">Russian Food</h4>
                    <p class="text-muted">Starting from $30</p>
                    <button type="button" [routerLink]="['/cart/product']" (click)="cartNavigate()" class="button cart_button_checkout"> View Products</button>
                  
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card mb-30"><a class="card-img-tiles" routerLink="product" data-abc="true">
                    <div class="inner">
                        <div class="main-img"><img src="assets/image/indianFood/indianFood.jpg" alt="Category">
                        </div>
                        <div class="thumblist"><img src="assets/image/indianFood/luchi.jpg" alt="Category">
                            <img src="assets/image/indianFood/indian.webp" alt="Category"></div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h4 class="card-title">Indian Food</h4>
                    <p class="text-muted">Starting from $50</p>
                    <button type="button" [routerLink]="['/cart/product']" (click)="cartNavigate()" class="button cart_button_checkout"> View Products</button>
                  
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card mb-30"><a class="card-img-tiles" routerLink="product" data-abc="true">
                    <div class="inner">
                        <div class="main-img"><img src="assets/image/americanFood/cover.jpeg"
                                alt="Category"></div>
                        <div class="thumblist"><img src="assets/image/americanFood/nathans.jpg"
                                alt="Category">
                            <img src="assets/image/americanFood/pizza.jpeg" alt="Category"></div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h4 class="card-title">American Food</h4>
                    <p class="text-muted">Starting from $50</p>
                    <button type="button" [routerLink]="['/cart/product']" (click)="cartNavigate()" class="button cart_button_checkout"> View Products</button>
                  
                </div>
            </div>
        </div>
    </div>
</div>