<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
 <a class="navbar-brand" routerLink="home">
  <img src="assets/img/icon,logo/Foodpanda-Logo.wine.jpg" alt="Logo" style="width:100px;">
    </a>
   
  
    <!-- Navbar start -->
  
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" routerLink="about">About <span class="sr-only">(current)</span></a>
        <a class="nav-link" routerLink="cart">Cart</a>
        <a class="nav-link" routerLink="product">Product</a>
        <a class="nav-link" routerLink="order">Order</a>
        <a class="nav-link" routerLink="payment">payment</a>
        <a class="nav-link" routerLink="checkout">checkout</a>
        <a class="nav-link disabled" routerLink="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </div>
    </div>
  
  </nav>

  <router-outlet></router-outlet>