<!--Slides-->
<div class="carousel-inner" role="listbox" style="margin-top: 112px;">

  <!--First slide-->
  <div class="carousel-item active">

    <div class="heading">
      <h1>Bangladeshi Food</h1>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">

        <img class="card-img-top" src="assets/img/foodpanda/vorta.jpg" alt="Card image cap">
        <div class="card-body">
          <a (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i> Bangladeshi vorta</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/bhunaKhichuri.jpg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i> Bhuna
            Khichuri</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/beefCurry.jpg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i> Beef
            Curry</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/dinnerFood.jpg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i> dinner
            Food</a>
        </div>
      </div>
    </div>

  </div>
</div>
<!--Slides-->
<div class="carousel-inner" role="listbox">

  <!--First slide-->
  <div class="carousel-item active">

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/chiken1.jpg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i> Chiken</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/fishFry.jpg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i> Fish
            Fry</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/lemonsFish.jpg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i> Lemon
            Fish</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/rupchada.jpg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i>
            Rupchada</a>
        </div>
      </div>
    </div>

  </div>
</div>
<!--Slides-->
<div class="carousel-inner" role="listbox">

  <!--First slide-->

  <div class="carousel-item active">

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/kacchiBiriani.jpg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i>
            kacchi-Biriani</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/ilishPolao.jpeg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i>
            Ilish-Polao</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/morogPolao.jpg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i>
            Morog-Polao</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/kokata1.jpg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i>
            Chiken-Biriani</a>
        </div>
      </div>
    </div>

  </div>
</div>
<!--Slides-->
<div class="carousel-inner" role="listbox">

  <!--First slide-->
  <div class="carousel-item active">

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/haleem.jpg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i> haleem</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/fuchka.jpeg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i> Fuchka</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/sheekKabab.jpg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i> Sheek
            Kabab</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/vegetablesPorota.jpg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i> Vegetables
            Porota</a>
        </div>
      </div>
    </div>

  </div>
</div>
<!--Slides-->
<div class="carousel-inner" role="listbox">

  <!--First slide-->
  <div class="carousel-item active">

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/faluda.jpeg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i> Faluda</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/kheer.jpg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i> Kheer</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/jilapi.jpg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i> Jilapi</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/sondesh.jpg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i>
            Sondesh</a>
        </div>
      </div>
    </div>

  </div>
</div>
<!--Slides-->
<div class="carousel-inner" role="listbox">

  <!--First slide-->

  <div class="carousel-item active">

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/pakonPitha.jpg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i>
            pakonPitha</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/vapaPitha.jpeg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i>
            VapaPitha</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/pudding.jpeg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i>
            Pudding</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/maoaPitha.jpg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i> Maoa
            Pitha</a>
        </div>
      </div>
    </div>

  </div>
</div>

<!--Slides-->
<div class="carousel-inner" role="listbox">

  <!--First slide-->
  <div class="carousel-item active">

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/lacci.jpg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i> Lacci</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/friedRice.jpg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i>
            FriedRice</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/fuchka.jpg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i> Fuchka</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/grilledChiken.jpg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i>
            GrilledChiken</a>
        </div>
      </div>
    </div>

  </div>
</div>



<!--Slides-->
<div class="carousel-inner" role="listbox" style="margin-top: 112px;">

  <!--First slide-->
  <div class="carousel-item active">

    <div class="heading">
      <h1>Chinese Food</h1>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">

        <img class="card-img-top" src="assets/image/chineseFood/fried_shrimp_with_cashew_nuts.webp"
          alt="Card image cap">
        <div class="card-body">
          <a (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i>
            fried_shrimp_with_cashew_nuts</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/chineseFood/ma_po_tofu.webp" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i>
            ma_po_tofu</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/chineseFood/shrimp_vermicelli_garlic.webp" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i>
            shrimp_vermicelli_garlic</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/chineseFood/sichuan_pork.webp" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i>
            sichuan_pork</a>
        </div>
      </div>
    </div>

  </div>
</div>
<!--Slides-->
<div class="carousel-inner" role="listbox">

  <!--First slide-->
  <div class="carousel-item active">

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/chineseFood/wontons.webp" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i>
            wontons</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/chineseFood/yangchow_fried_rice.webp" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i>
            yangchow_fried_rice</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/chineseFood/chow mein.webp" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i> chow
            mein</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/chineseFood/dumplings.webp" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i>
            Dumplings</a>
        </div>
      </div>
    </div>

  </div>
</div>
<!--Slides-->
<div class="carousel-inner" role="listbox">

  <!--First slide-->

  <div class="carousel-item active">

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/chineseFood/kingpao.webp" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i
              class="fas fa-shopping-cart"></i>kingpao.webp</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/chineseFood/springRolls.webp" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i>
            springRolls</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/chineseFood/stemedVermicelliRolls.webp" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i>
            stemedVermicelliRolls</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/chineseFood/SweetAndSourPork.webp" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i
              class="fas fa-shopping-cart"></i>SweetAndSourPork</a>
        </div>
      </div>
    </div>

  </div>
</div>
<!--Slides-->
<!-- <div class="carousel-inner" role="listbox">

  <!--First slide-->
<!-- <div class="carousel-item active">

  <div class="col-md-3" style="float:left">
   <div class="card mb-2">
      <img class="card-img-top"
        src="assets/image/chineseFood/wontons.webp" alt="Card image cap">
      <div class="card-body">
        <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i> haleem</a>
      </div>
    </div>
  </div>

  <div class="col-md-3" style="float:left">
    <div class="card mb-2">
      <img class="card-img-top"
        src="assets/image/chineseFood/fuchka.jpeg" alt="Card image cap">
      <div class="card-body">
        <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i> Fuchka</a>
      </div>
    </div>
  </div>

  <div class="col-md-3" style="float:left">
    <div class="card mb-2">
      <img class="card-img-top"
        src="assets/image/bangladeshiFood/sheekKabab.jpg" alt="Card image cap">
      <div class="card-body">
        <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i> Sheek Kabab</a>
      </div>
    </div>
  </div>
  
   <div class="col-md-3" style="float:left">
   <div class="card mb-2">
      <img class="card-img-top"
        src="assets/image/bangladeshiFood/vegetablesPorota.jpg" alt="Card image cap">
      <div class="card-body">
        <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i> Vegetables Porota</a>
      </div>
    </div>
  </div>

</div>
</div>
<!--Slides-->
<div class="carousel-inner" role="listbox">

  <!--First slide-->
  <div class="carousel-item active">

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/faluda.jpeg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i> Faluda</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/kheer.jpg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i> Kheer</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/jilapi.jpg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i> Jilapi</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/sondesh.jpg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i>
            Sondesh</a>
        </div>
      </div>
    </div>

  </div>
</div>
<!--Slides-->
<div class="carousel-inner" role="listbox">

  <!--First slide-->

  <div class="carousel-item active">

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/pakonPitha.jpg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i>
            pakonPitha</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/vapaPitha.jpeg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i>
            VapaPitha</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/pudding.jpeg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i>
            Pudding</a>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="float:left">
      <div class="card mb-2">
        <img class="card-img-top" src="assets/image/bangladeshiFood/maoaPitha.jpg" alt="Card image cap">
        <div class="card-body">
          <a routerLink="cart" (click)="cartNavigate()" class="cart-btn"><i class="fas fa-shopping-cart"></i> Maoa
            Pitha</a>
        </div>
      </div>
    </div>

  </div>
</div>